body, html {
    height: 100%;
    margin: 0;
}

#custContent{
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    width: 100%;
}
  
#custMenu{
    background: #3c495c;
    font-style: normal;
    list-style-type: none;
    opacity: 89%;
}

.custItems:hover, .custItems:focus, #custName, #custNamae, #custLeft, #custRight{
    color:#fff;
}

#custLogo{
    font-weight: bold;
    margin-left: 1.5%;
}

.custItems{
    color: rgb(202, 202, 202);
}

.custItems:hover, .custItems:focus{
    animation: glow 1s ease-in-out infinite alternate;
    text-decoration: none;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px  rgb(255, 114, 31), 0 0 20px #fff, 0 0 30px #3bc2fa, 0 0 40px #3bc2fa, 0 0 50px #3bc2fa, 0 0 60px #3bc2fa, 0 0 70px #3bc2fa;
    }
    to {
      text-shadow: 0 0 20px  rgb(255, 114, 31), 0 0 30px #52cff0, 0 0 40px #52cff0, 0 0 50px #52cff0, 0 0 60px #52cff0, 0 0 70px #52cff0, 0 0 80px #52cff0;
    }
}

#custName, #custNamae, #custQuote, #custFooter{
    text-align: center;
}

#custName{
    font-family: pristina;
}

#custNamae{
    font-family: biz udgothic;
    margin-top:-3%;
    padding-bottom: 5%;
}

.row{
    margin:0 !important;
}

#custLeft, #custRight{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1vw;
    padding: 3%;
}

#custProfession{
    color: #cbb4ff;
}

#custQuote{
    color: #2f3448;
    font-style: italic;
}

#custFooter{
    background: #3c495c;
    bottom: 0;
    color: #f3f3f3;
    padding: 5px 0;
    position: fixed;
}

/* Desktop settings */
@media screen and (min-width: 1900px){
    #custContent{
        background-image: url("../images/bg.png");
        background-size: 100% 100%;
        height: 100%;
    }

    #custMenu{
        text-align: center !important;
    }

    #custName{
        font-size: 8vw;
        padding-top: 5%;
    }

    #custNamae{
        font-size: 2vw;
    }

    #custLeft, #custRight{
        text-align: left;
        opacity: 0.8;
    }

    #custLeft{
        background-image: url("../images/contentBg1.png");
    }
    
    #custRight{
        background-image: url("../images/contentBg2.png");
    }

    #custQuote{
        font-size: 0.8vw;
        padding-top: 1.8%;
    }

    #custFooter{
        font-size: 0.5vw;
    }
}

/* Tablet settings */
@media screen and (min-width: 501px) and (max-width: 1899px){
    #custMenu{
        text-align: left !important;
    }

    #custMobileContent{
        background-image: url("../images/bg-1080.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 100%;
        padding: 0;
        width: 100%;
    }

    #custName{
        font-family: "Lucida sans";
        font-size: 10vw;
        padding-top: 17%;
    }

    #custNamae{
        font-size: 2.7vw;
        padding-bottom: 17%;
    }

    #custLeft, #custRight{
        font-size: 2.5vw;
        text-align: center;
        opacity: 0.9;
    }

    #custLeft{
        background-image: url("../images/contentBg1-1080.png");
    }

    #custRight{
        background-image: url("../images/contentBg2-1080.png");
    }

    #custQuote{
        font-size: 1.7vw;
        padding: 3% 3% 5% 3%;
    }

    #custFooter{
        font-size: 1.5vw;
    }
}

/* Mobile settings */
@media screen and (min-width: 280px) and (max-width: 500px){
    #custMenu{
        text-align: left !important;
    }

    #custMobileContent{
        background-image: url("../images/bg-1080.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 100%;
        padding: 0;
        width: 100%;
    }

    #custName{
        font-family: "Lucida sans";
        font-size: 10vw;
        padding-top: 17%;
    }

    #custNamae{
        font-size: 2.7vw;
        padding-bottom: 17%;
    }

    #custLeft, #custRight{
        font-size: 2.5vw;
        text-align: center;
        opacity: 0.9;
    }

    #custLeft{
        background-image: url("../images/contentBg1-1080.png");
    }

    #custRight{
        background-image: url("../images/contentBg2-1080.png");
    }

    #custQuote{
        font-size: 2vw;
        padding: 3% 3% 5% 3%;
    }

    #custFooter{
        font-size: 1.5vw;
    }
}